/****************************************************************************************
Layout Stylesheet: defines general widths, margins, floats, a classes, and other display attributes   #23238E  #23238E
****************************************************************************************/

p *{
line-height: 14px;	
}
*{margin: 0; padding: 0;}
html, body { height: 100%;}
body {
	text-align: center; /* this helps some browsers align the #parent element */
	font: 11px Arial,Helvetica,FreeSans,sans-serif;
	background-color: #fff;
	color: #000;
}
#wrapper { min-width: 980px; min-height: 100%; margin: 0 auto; padding: 0;  }
.wrap { width: 960px; margin: 0 auto; }
#header { min-width: 980px; width:100%; margin: 0 auto; padding: 0;  }
#header a { border: none; }
#header-inner {      height: 125px; color: #fff; background:url(custom.jpg); width: 960px; }
#container { width: 958px; width: 958px; margin: 0 auto;  border-right: 1px solid #EAE9E6;border-left: 1px solid #EAE9E6; height:105%;}

a { text-decoration: none; color: #565347;border-bottom: 1px dotted #81785a;}
a:focus { outline: 1px #8a887d dotted; }
a:hover { color:  #23238E; border-bottom: 1px dotted #81785a;}
hr { background:#eae9e6; border:0; clear:both; height:1px; }
img {border: none; }

/**********************************
Headers
************************************/
h1 { font-size:35px; font-family: Georgia, "Times New Roman", Times, serif; color: #565245; font-weight: 400  }
h2 { font-size:11px; font-family: Georgia, "Times New Roman", Times, serif; text-transform: uppercase; color:  #565347; padding-bottom: 3px; letter-spacing: 2px; font-weight: 400;border-bottom: 6px solid #000000 !important;margin-bottom: 10px;	 }
h3 { font-size:12px; font-family: Arial, Helvetica, sans-serif; font-weight: 400; }
h4 { font-size:12px; font-family: Arial, Helvetica, sans-serif; font-weight: 400; }
h5 { font-size:11px; font-family: Arial, Helvetica, sans-serif; font-weight: 400; }
	
/**********************************
Block-level
***********************************/
p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset { margin-bottom:5px }
p { color: #565347; line-height: 16px; }
ul li { color: #565347; }
	
/**********************************
Sidebars / Main Content
***********************************/	
#sidebar { margin-right: -1px;
 		
 }
 #sidebar p a {
	 font-size:12px;
 }
#sidebar_introduction h2 { color:  #23238E; }
#content_main h3 { font-size:15px; font-family: Georgia, "Times New Roman", Times, serif; font-weight: 500; }
/**********************************
General classes
***********************************/
.skip {position: absolute; top: -9999px; left: -9999px; }
.hide { display: none; visibility: hidden; }
.clear { clear: both; }

hr.clearer { clear: both; visibility: hidden; height: 1px; }

.imagetall { position: relative; left: -3px; top: 2px; padding-top: 8px; padding-left: 7px; padding-right: 8px; padding-bottom: 8px;  background-image: url("/images/graphic_tall_underlay.jpg"); background-repeat: no-repeat; }
.imagewide { position: relative; left: -5px; top: 3px;  margin-bottom: 10px; padding: 7px; padding-left: 8px; padding-bottom: 8px; background-image: url("/images/graphic_wide_underlay.jpg"); background-repeat: no-repeat; }

p.more { border-top: 1px solid #eae9e6; border-bottom: 1px solid #eae9e6; padding: 1px 0; width: 100%; text-align: right; text-transform:uppercase; color: #8a887d; letter-spacing: 1px; font-size: 9px;}
p.more a { border: none; }

a.rss_feed { background: url("/images/rss.png") no-repeat; float:right; height:13px; margin:0; padding:0; width:13px; border: none; margin-top: -27px; }
a.rss_feed:hover { background: url("/images/rss_over.png") no-repeat; }jpg
.rss_feed span { position: absolute; left: -9999px; margin:0; padding: 0; }

p.introduction { color: #8a887d; line-height: 20px; font-size: 14px; font-family:Georgia, "Times New Roman", Times, serif; font-style:italic; }

/*********************************
Header
**********************************/
#logo {  float: left;  height: 38px; }

#nav_header { float: left; position: relative; margin-top: 30px; padding-left: 325px;}
#nav_header li { display: inline; color: #fff; }
#nav_header li a { color: #fff;  }
#nav_header li a:hover { border-bottom: dotted 1px #fff; }
#header_maps_item { border-right: 1px 23238E; padding-right: 5px; }
#header_atoz_item { margin-left: 3px; }

/*********************************
Search
**********************************/
.adv_search { color: #fff; }

#search_labels { margin-top: 9px; padding-left: 20px; width: 160px; margin-bottom: 0; padding-bottom: 0; z-index: 100; }
#search_labels ul li { display: inline; font-size: 9px; height: 25px;  z-index: 100;   }
#search_labels ul { margin: 0; padding: 0; }

#container_search { width: 250px; float: right; margin-right: 2px; color: #fff; margin-top: 4px; padding-top: 20px; min-height: 70px; z-index: 200;}

#searchformhome { width: 191px; float: right; margin-right: 2px; color: #fff;  margin-top: 2px; padding-top: 0;  }
#searchformhome form { width: 190px; margin-top: 0;}
#search_filters { margin-bottom: 3px; margin-left: 10px;}
#web { vertical-align: middle;margin: 0; padding: 0; }
#people { vertical-align: middle;margin: 0; padding: 0; }
#web_label { font-size: 11px;vertical-align: middle;margin-right: 9px; }
#people_label { font-size: 11px;vertical-align: middle; }

#search_string { border: none; }

.searchbox { background: url('/images/search_box_bg.png') no-repeat left top; height: 24px; padding-left: 3px; margin-bottom: 0; padding-bottom: 0; margin-top: 18px; padding-top: 0; z-index: 300; }
.searchbox input { width: 153px; color: #8a887d; margin-left: 6px; margin-top: 0; padding-top: 0;border: 0; outline: none; padding-right: 0; margin-right: 0; height: 15px; float: left; margin-top: 2px; }
.search_button { border: 0; background: url('/images/search_button.gif') no-repeat top left; height: 20px; width: 20px; text-indent: -9999px;  margin-left: 3px; margin-top: 1px; float: right; }

#searchformhome .active{ color:#000;}

ul.sb_dropdown{ float: left;  margin: 0 0 0 10px; list-style: none; width:150px; padding: 5px 0 5px 15px; background: #3f3c30; 
background: -webkit-gradient(linear, left top, left bottom, from(#565347), to(#3f3c30)); background: -moz-linear-gradient(top, #565347, #3f3c30);
-moz-box-shadow:1px 1px 3px #555; -webkit-box-shadow:1px 1px 3px #555; -box-shadow:1px 1px 3px #555; -moz-border-radius:0px 0px 10px 10px; -webkit-border-bottom-right-radius:10px;
-webkit-border-bottom-left-radius:10px; border-bottom-right-radius:10px; border-bottom-left-radius:10px; }

ul.sb_dropdown li{ color: #fff; font-size:11px; height:15px; float:left; width:50%; }
ul.sb_dropdown li input[type="radio"]{ float:left; margin-right: 5px;}

/*********************************
Navigation
**********************************/	    
#nav_topic { margin: 0 auto; height: 24px; width: 100%;color:#FFFFFF !important; }
#nav_topic ul {margin: 0 auto; width: 960px; border-left: 1px solid #8a887d; height: 24px; padding:0px; }
#nav_topic li { margin: 0; float: left; height: 24px; list-style-type: none; text-align: left; padding-top: 0px; background:  #23238E; color:#FFFFFF;}
li#nav_topic_about {background:  #23238E !important; width: 191px;color:#FFFFFF !important;}
#nav_topic_admission { width: 192px; }
#nav_topic_academics { width: 192px; }
#nav_topic_research { width: 192px; }
#nav_topic_campuslife { width: 192px; }
#nav_topic li:hover { background: #00C;  !important;232385;
 }
 ul{
	 padding:0px; 
 }
 nav_topic ul ul {
	display: none;
}

	nav_topic ul li:hover > ul {
		display: block;
	}
	nav_topic ul:after {
		content: ""; clear: both; display: block;
	}

#nav_topic li a { margin: 0; display: block; text-transform:uppercase; height: 24px; width: 180px; text-decoration: none; padding-top: 5px; padding-left: 10px; font-size: 12px; border: none;color:#FFF; font-weight: 300; letter-spacing: 1px; width: 15.15em; }
 #nav_topic li a:hover{
	color:#FFF; 
 }


/*********************************
Expanded Drawer 
**********************************/	
#nav_expanded {
	
	width: 960px;
	margin-bottom: -6px;
}
#nav_expanded p { margin: 0 }
#expanded_icon { padding-right: 3px }
#expanded_table_header { visibility: hidden; display: none }
#expanded_content table { margin: 6px 0 0 8px; display: block; }
#expanded_content { margin: 0; padding:0; width: 960px; display: none; }
.expanded li { padding-bottom: 5px;  list-style-image:url("/images/raquo.gif"); list-style-position: inside }

#expanded_content a { text-decoration: none; border-bottom: none } 
#expanded_content a:hover { text-decoration: none; border-bottom: 1px dotted }

a#toggle { margin-top: 9px !important; border: none; width: 140px; display: block }
a#toggle img { padding-top: 1px; margin-top: 1px; vertical-align: text-bottom; margin-right: 2px }
a#toggle:focus { border: none; outline: none }
a#toggle:active { border: none; outline: none }

/*********************************
Title/Breadcrumb
**********************************/	
#title { clear: both; margin-top: 15px; margin-bottom: 12px; letter-spacing: -1px }

#breadcrumb p { margin: 0; padding: 0; line-height: 15px; color: #565347 }
#breadcrumb a { text-decoration: none; border-bottom: none; color: #9D9573 }
#breadcrumb a:hover { text-decoration: none; border-bottom: 1px dotted; color:  #23238E }

/*********************************
Emergency/Alert
**********************************/	

#alert div.wrap, #emergency div.wrap { padding-left: 10px;}

/* Emergency */
#emergency { background: #2e2d29; margin:6px 0 0 0; padding:30px 0 50px 0;}
#emergency h2 {  font:8em arial,sans-serif;  font-weight:normal;  color:#fff;}
#emergency h3 {  font:2.5em arial,sans-serif;  font-weight:normal;  color:#fff;  width:80%;  margin-bottom:0.75em;  padding-left: 10px;}
#emergency p {  font:1.5em arial,sans-serif;  font-weight:normal;  color:#fff;  width:80%;  padding-left: 10px;}
#emergency a {  color:#fff;  text-decoration:underline;}
#emergency a:hover {  color:#ccc;  border:0;}

/* Alert */
#alert {  background: #f4ecd8;  margin:6px 0 0 0;  padding:15px 0 25px 0;}

#alert h2 {  font: 4em arial,sans-serif;  font-weight:normal;  color: #23238E;}

#alert h3 {  font:2em arial,sans-serif;  font-weight:normal;  color:#333;  width:80%;  margin-bottom:0.4em;}
#alert p {  font:1.2em arial,sans-serif;  font-weight:normal;  color:#333;  width:80%;}
#alert a {  color:#333;  text-decoration:underline;}
#alert a:hover {  color:#000;  border:0;}

/* Mini Alert */
#mini-alert {  background: #f2f1eb;  margin:20px auto 0 auto;  padding:15px 0 15px 0; width:960px; border: 1px solid #E6E4DB; }

#mini-alert h2 {  display: none; font: 1.2em arial,sans-serif;  font-weight:400;  color: #23238E; padding: 0 5px 0 10px; letter-spacing: 1px;}

#mini-alert h3 {  display: inline; font:1.2em arial,sans-serif;  font-weight:400;  color: #23238E; padding: 0 5px 0 10px; letter-spacing: 1px; text-transform: uppercase;}
#mini-alert p {  display: inline; font:1.3em arial,sans-serif;  font-weight:normal;  color:#333;}
#mini-alert a {  color:#333;  text-decoration:none; border-bottom: 1px dotted #333;}
#mini-alert a:hover {  color: #23238E;  text-decoration:none; border-bottom: 1px dotted  #23238E;}

#mini-alert .dateline {display: none;}

/*********************************
Footer
**********************************/
#footer {  margin-left: 10px;position: relative; width: auto; min-width: 960px;  background:url(custom.jpg); clear: both; margin-right:10px;}
#footer .wrap { padding-top:15px; }
#footer_logo  {
	float: left;
	 width:300px !important;
	margin: 0px 50px 0 15px !important;
	height:30px !important;
	
}
#footer p a {
	color:#FFF;	
}
#footer_logo a {border-bottom: none;}
#footer_logo img{
	float:left;	
	margin-top:-5px;
}
#footer li { color:#FFF;}
#footer_logo p{height:40px; display:inline;color: #FFF; font-size: 11px; width:245px} 
#footer_content { float:right; }
#footer_content li {display: inline; padding: 0 19px 0 0;}
#footer_content li a { font-size: 13px; color:#e3dfd5;}
#footer_content li a:hover { color: #23238E; border-bottom: 1px dotted #fff;}

#copyright { 	font-size:11px; float:right; width:330px; padding-top:0px; text-align: right !important; padding-right:15px; }
/*    margin: 0 50px 0 15px !important;
*/
#copyright p{
	 text-align: right;
	 color:#FFF;
}

#copyright, #copyright a { color:#FFF;}
#copyright a {   border-bottom: 1px dotted #e3dfd5;}
#copyright a:hover { color: #23238E; border-bottom: 1px dotted #fff;}
#termsofuse {margin-left: 10px;}

#parent{
	  margin:0 auto;
	  margin-top:-5px;
	  width: 960px;  
}
#parent *{
   /* margin: 0;*/
	text-align:left;
}

#list{
	padding:10px;	
}
#menu, #menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#menu {
    width: 958px;
    /*margin: 60px auto;*/
    border: 1px solid #222;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    
    box-shadow: 0 1px 1px #777;
}
#menu:before,
#menu:after {
    content: "";
    display: table;
}

#menu:after {
    clear: both;
}

#menu {
    zoom:1;
}
#menu li {
    float: left;
   /* border-right: 1px solid #222;*/
    box-shadow: 1px 0 0 #444;
    position: relative;
	box-sizing: border-box; 
	width: 20%;
}

#menu a {
    float: left;
    padding: 11px 64px;
    color: #999;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
	 width: 33%; /*for adjusting click action*/
}

#menu li:hover > a {
    color: #fafafa;
	
	
}

*html #menu li a:hover { /* IE6 only */
    color: #fafafa;
	
}
#menu ul {
    margin: 20px 0 0 0;
    _margin: 0; /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1000000;    
    background: #444;    
    background: linear-gradient(#444, #111);
    box-shadow: 0 -1px 0 rgba(255,255,255,.3);    
    
    transition: all .2s ease-in-out;
    width: 100%;
}

#menu li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#menu ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
	width:100%;
    _margin: 0; /*IE6 only*/
    box-shadow: -1px 0 0 rgba(255,255,255,.3);        
}

#menu ul li {
    float: none;
    display: block;
    border: 0;
    _line-height: 0; /*IE6 only*/
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#menu ul li:last-child {   
    box-shadow: none;    
}

#menu ul a {    
    padding: 10px;
   /* width: 130px;*/
    _height: 10px; /*IE6 only*/
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
	width:450%;
	background:#111;
}

#menu ul a:hover {
    background-color: #111;
}
#menu ul li:first-child > a {
    /*border-radius: 3px 3px 0 0;*/
	    background:#111;
    
}
#menu ul li: a {
#menu ul ul li:a {
    /*border-radius: 3px 3px 0 0;*/
	    background:#111;
    
}

#menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
}


#menu ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0;
	    background:#111;   
}

#menu ul li:first-child a:hover:after {
}

#menu ul ul li:first-child a:hover:after {
    border-right-color: #000; 
    border-bottom-color: transparent;
   
}
   
}

#menu ul li:last-child > a {
    /*border-radius: 0 0 3px 3px*/;
	    background:#111;
	
 
}
​
​
.cse .gsc-control-cse, .gsc-control-cse {
	background-color:transparent !important;
	border:0px !important;
}
#menu ul {margin-top:-2px !important;}
/*a{
	color:blue;	
}
*/
